<% provide(:title, 'Attribution') %>
<!-- Purchase Block -->
<div class="row-fluid purchase margin-bottom-30">
  <div class="container">
    <div class="span9">
      <h3>Attribution</h3>
      <p>This website uses the following images under Creative Commons licenses as detailed below;
      <ul>
	<li><a href="https://flic.kr/p/6Rx3Lw">An old clock</a> by Sham Hardy is licensed under <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a></li>
	<li><a href="https://flic.kr/p/cvvyxQ">freightliner-trucks-07</a> by David Guo is licensed under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a> and has been cropped for use on this website.</li>
	<li><a href="https://flic.kr/p/44wHci">Magazine Stack</a> by KitAy is licensed under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a> and has been cropped for use on this website.</li>
	<li><a href="https://flic.kr/p/mHsQQc">Day 87/365 — 03/28/2014: Zen Programming!</a> by Brandon Nguyen is licensed under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a></li>
      </ul>
    </div>
  </div>
</div><!--/row-fluid-->
