<% provide(:title, 'Thank You') %>

<% if (Rails.env.production?) %>

  <!-- Google Code for MadeContact Conversion Page -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 978945719;
  var google_conversion_language = "en";
  var google_conversion_format = "2";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "cRPMCIHk1AcQt43m0gM";
  var google_conversion_value = 1;
  var google_remarketing_only = false;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/978945719/?value=1&amp;label=cRPMCIHk1AcQt43m0gM&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>

<% end %>

<!-- Purchase Block -->
<div class="row-fluid purchase margin-bottom-30">
  <div class="container">
    <div class="span9">
      <div class="headline"><h3>Thank You For Contacting LingoKey</h3></div>
      <p>One of our project managers will get back to you shortly.</p>
      <p>In the meantime feel free to visit our <a href="/blog">blog</a> to find out more about our Middle Eastern translation expertise.</p>
      <p>If your enquiry is urgent, then please feel free to call us on +44 (0)1753 290001.</p>
    </div>
  </div>
</div><!--/row-fluid-->
