<% provide(:title, 'Home') %>
<%= render('static_pages/slider/slider') %>
<!-- Purchase Block -->
<div class="row-fluid purchase margin-bottom-30">
  <div class="container">
    <div class="span9">
      <span>LingoKey are a UK based translation agency specialising in Middle-Eastern languages.</span>

      <p>The Middle East can be a complex market to translate for. The right to left nature of the languages, and the
        limited support for publishing this content on Western software platforms, can make generating high quality,
        functional content a challenge. We are here to manage these complexities for you.</p>

      <p>We combine the best language resources with expertise in publishing Middle Eastern content, to provide the high
        quality and fully functional localisations you require.</p>
    </div>
    <a href="" class="btn-buy hover-effect">Get a quote now</a>
  </div>
</div><!--/row-fluid-->
<!--//End Purchase Block -->

<div class="container">
  <!-- Service Blocks -->
  <div class="row-fluid">
    <div class="span6">
      <div class="service clearfix">
        <i class="icon-plane"></i>

        <div class="desc">
          <h4>Middle-Eastern expertise</h4>

          <p>Europe's leading Middle Eastern translation services provider, we deliver translations that connect you
            with your Middle Eastern markets and strengthen your brand.</p>

          <p>LingoKey offer all the services required to produce great translations:</p>
          <ul>

            <li>High quality translation services</li>
            <li>Full product testing</li>
            <li>Typesetting services</li>
            <li>Software engineering capability</li>
            <li>Interpreting services</li>
          </ul>

          <p>Whether you require a full localisation solution or just a quick translation of your documents, we will
            tailor our delivery to your requirements.</p>

          <p>Speak to us to find our more about a company committed to solving your language needs.
          </p>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="service clearfix">
        <i class="icon-lightbulb"></i>

        <div class="desc">
          <h4>The LingoKey difference</h4>

          <p>Five reasons why you should consider LingoKey for your next translation project:</p>
          <ol>
            <li>UK based for local service</li>
            <li>Right first time approach</li>
            <li>Proven reliability and scalablity</li>
            <li>Benchmarked rates</li>
            <li>Technology solutions</li>
          </ol>
          <p>Our customers appreciate our deep understanding of their requirements, our local support when they need it,
            our Monday to Friday availability - and of course our high quality Middle Eastern translations.</p>

          <p>When you buy LingoKey translations, you don't just get great quality, you get content that will publish
            correctly on your systems - first time.</p>

          <p>This is the LingoKey difference.</p>

        </div>
      </div>
    </div>
  </div>
  <!--/row-fluid-->
  <!-- //End Service Blocks -->

  <div class="headline"><h3>How we can help you</h3></div>
  <!-- Service blocks -->
  <div class="row-fluid servive-block">
    <div class="span4">
      <h4>UK based for easy communication and on-site support</h4>

      <p><i class="icon-bell"></i></p>

      <p>At times you need to know that expertise is only a phone call away, or that your vendor can come and provide
        you with emergency on-site support.</p>
    </div>
    <div class="span4">
      <h4>Technology language solutions to keep you ahead of the competition</h4>

      <p><i class="icon-bullhorn"></i></p>

      <p>Localisation technologies will accelerate your time to market and reduce your costs. Your translation services
        provider needs to manage your projects responsibly, to ensure you get the high quality returns that give you
        that competitive edge.</p>
    </div>
    <div class="span4">
      <h4>Right first time approach</h4>

      <p><i class="icon-lightbulb"></i></p>

      <p>Your time is important, you don’t want to have to spend time reworking documentation that you have sent for
        translation. At LingoKey we understand that it isn’t just great translation that you need but great looking
        deliverables. </p>
    </div>
  </div>
  <!--/row-fluid-->
  <!-- //End Service Blokcs -->
</div>

<%= render('static_pages/slider/slider_js') %>