<!-- Modal -->
<div id="completeWorkflow" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" xmlns="http://www.w3.org/1999/html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Complete Translation Workflow</h3>
  </div>
  <div class="modal-body">
    <div class="headline"><h5>Introduction</h5></div>
    <p>A large multinational manufacturer of electrical and lighting equipment required LingoKey to provide Arabic
      translations for installation guides. As the customer did not have in-house Arabic expertise, LingoKey's
      deliverables needed to be fit for publishing without customer review.</p>

    <div class="headline"><h5>The Challenge</h5></div>
    <p>The client provided the InDesign source document, and required LingoKey to manage localisation and typesetting
      workflows. All quality control was entrusted to LingoKey resources. </p>

    <p>As with all technical translations, a high degree of accuracy was expected.</p>

    <p>These activities had to be scheduled within a 3 day turn around window, at little notice due to the nature of the
      publishing activities.</p>

    <div class="headline"><h5>The Approach and Solution</h5></div>
    <p>LingoKey's approach was to create a deep resource pool of proven, reliable translators, and Arabic speaking type
      setting resources.</p>

    <p>Translators were made aware of the additional typesetting activity and asked to prioritise fast turnaround jobs
      over other work in progress. To assure the integrity of the translated InDesign documents, LingoKey added an
      additional translator sign-off step.</p>

    <p>By utilising native speakers at every step of the translation and typesetting flow, the Arabic document was
      reviewed by 3 language speakers before being finalised. This attention to detail led to the high quality and
      polished product our customer requires for the end customers.</p>
  </div>
  <div class="modal-footer">
    <button class="btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>