<!-- Modal -->
<div id="fastTurnaround" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" xmlns="http://www.w3.org/1999/html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Fast Turnaround Jobs</h3>
  </div>
  <div class="modal-body">
    <div class="headline"><h5>Introduction</h5></div>
    <p>Our client required LingoKey's support with providing regular fast turnaround technical bulletin and product
      recall information.</p>

    <div class="headline"><h5>The Challenge</h5></div>
    <p>The client frequently receives urgent jobs at no notice, requiring turnaround within 48 hours. These recall
      documents are highly sensitive and time critical communications.</p>

    <div class="headline"><h5>The Approach and Solution</h5></div>
    <p>LingoKey set up a team of tried and tested translation resources for the domain, and put in place a Service Level
      Agreement to guarantee the required availability. A backup system was agreed and implemented, and the process was
      streamlined to reduce administrative overheads and enable rapid response.</p>

    <p>The process achieved 100% on time delivery throughout 2012.</p>

    <div class="headline"><h5>Customer feedback</h5></div>
    <blockquote>
      <p>"I have not received any error reports ... people in the workshop and warranty department are very happy with
        them!"</p>
      <small>Customer Translation Manager</small>
    </blockquote>
  </div>
  <div class="modal-footer">
    <button class="btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>