<!-- Modal -->
<div id="howCanWeHelp" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">How can we help you?</h3>
  </div>
  <div class="modal-body">
    <p>Are you looking to grow your revenues in the Middle East? Specialising in Middle Eastern content, we deliver the
      translations that connect you with your Middle Eastern markets.</p>

    <p>LingoKey offer all the services you need to overcome the language barrier and maximise your potential.</p>

    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            High quality translation services for effective communication
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>Are you looking for high quality Middle Eastern translations? We have the expertise and experience to
              provide you with the high quality translations that your product deserves.</p>

            <p>Our translation resources are highly qualified and professional translators, who have passed our
              translation tests and signed strict confidentiality agreements. We are very selective about our resources,
              to ensure that you get great quality translations and a reliable service.</p>

            <p>Our process ensures we deliver the following:
            <ul>
              <li>Established terminology that you like, giving you control of your brand</li>
              <li>Checked and re-checked numbers, measurements and part numbers</li>
              <li>Translations that make use of your feedback</li>
              <li>Re-use of all your previous translations, giving you savings wherever we can</li>
            </ul>
            </p>
            <p>We can offer you expertise and experience in the following domains:
            <ul>
              <li>Automotive</li>
              <li>Business / Economics</li>
              <li>Education</li>
              <li>Engineering</li>
              <li>Finance</li>
              <li>Information technology</li>
              <li>Marketing / Advertising</li>
              <li>Medical</li>
              <li>Pharmaceutical</li>
              <li>Technical / Mechanical</li>
              <li>Telecommunications</li>
              <li>Tourism</li>
            </ul>
            <p>We provide Middle East content to many household brands, and would be proud to do the same for you. We
              guarantee our quality - take a look at our translation guarantee for complete peace of mind!</p>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Full product testing for an assured customer experience
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>Are you translating web content, or software content? Are you concerned about the functionality of the
              translated product?</p>

            <p>LingoKey can test your translated product to ensure all functionality is retained. Our testers are native
              in the language of your translation and will fully review the functionality of your product, guaranteeing
              a great end user experience.</p>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
            Typesetting services for great looking documentation
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>You invest a great deal of time and money in producing concise, great looking documentation. And you need
              your translated materials to look just as good.</p>

            <p>LingoKey typesetting resources will format your translated documents to ensure they reach the high the
              high standards of your source. All typesetting is done by resources fluent in the language of your
              translation, ensuring that your documentation is effective for your target market.</p>

          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour">
            Software engineering for cost reduction and process integration
          </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>Documentation management technology can bring great efficiency savings. They can also be complex and
              highly technical.</p>

            <p>LingoKey software development resources are expert in Content Management System and Learning Content
              Management System technologies, and will partner you to ensure that your systems are integrated into the
              localisation flow. This will reduce manual hand-offs, reducing costs and speeding up time to market.</p>

            <p>You can also rely on our software engineering team, specialising in technology for Middle Eastern
              languages, to help you in preparing your systems for Middle Eastern content. We will provide the
              consulting that gives you a cost effective and hassle free solution.</p>

          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive">
            Interpreting services for personal, real time translation
          </a>
        </div>
        <div id="collapseFive" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>For your face to face or telephone language needs, LingoKey interpreting resources provide expert, real
              time translations.</p>

            <p>Our interpreting resources have been security vetted and adhere strict confidentiality agreements,
              providing you with the accurate, fully confidential and personal translations that you need.</p>

          </div>
        </div>
      </div>
    </div>

    <p>Trust Europe's leading Middle Eastern language translation service provider, and speak to us to find our more
      about a company committed to solving your language needs.</p>

  </div>
  <div class="modal-footer">
    <button class="btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>