<!-- Modal -->
<div id="largeVolume" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" xmlns="http://www.w3.org/1999/html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Large Volume and Bespoke Requirements</h3>
  </div>
  <div class="modal-body">
    <div class="headline"><h5>Introduction</h5></div>
    Our client, a large Language Services Provider, required LingoKey's support with translation capacity for a major
    automotive client expanding their operations in the Middle East.

    <div class="headline"><h5>The Challenge</h5></div>
    <p>The Automotive client required large volumes of high quality technical translations within tight deadlines to
      ensure an expansion opportunity was capitalised upon.</p>

    <p>The translation requirement included a variety of documentation and software, including Bodywork Repair Manuals,
      Workshop Repair Manuals and Diagnostics Software. The combined wordcount exceeded 3 million words, required within
      a 6 month period.</p>

    <p>All translated materials had to pass stringent in-market validation and meet the automotive clients bespoke
      bi-directional requirements for the market. This included standardising on western digits rather than native
      numerals, rendering number ranges from Left-to-Right and explicitly setting directionality for weak and neutral
      character ranges.</p>

    <div class="headline"><h5>The Approach and Solution</h5></div>
    <p>LingoKey set up a specialised pool of translators, provided training and familiarisation in the use of
      directionality markers and the bespoke requirements, and introduced a peer review step into the translation
      workflow.</p>

    <p>Furthermore all content was fully reviewed for directionality issues by LingoKey localisation engineers,
      utilising bespoke rendering tools and techniques. This ensured that our translators received essential ongoing
      feedback on both linguistic and technical issues.</p>

    <p>The project was delivered ahead of schedule, met the bespoke bi-directional requirements and consistently
      exceeded in-market validation expectations.</p>

    <p>LingoKey's high quality deliverables, both from a linguistic as well as technical point of view, reduced customer
      rework by over 90% and drastically accelerated time to market.</p>

    <div class="headline"><h5>Customer feedback</h5></div>
    <blockquote><p>"Again, the score was excellent: 99.2%. Thank you for the excellent translation!"</p>
      <small>Customer Quality Manager</small>
    </blockquote>
    <blockquote>
      <p>"I don’t want to leave the office today without sending a big Thank you for all your hard work, efforts and
        flexibility to our multiple requests within the Catch up project. You are part of the success of this project,
        and I want to make sure you know that!"</p>
      <small>Customer Project Manager</small>
    </blockquote>

  </div>
  <div class="modal-footer">
    <button class="btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>