<!-- Modal -->
<div id="peaceOfMind" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">The Lingokey Difference</h3>
  </div>
  <div class="modal-body">
    <p>LingoKey are proud to guarantee translation quality and delivery dates.</p>

    <p>If you are not satisfied with our translation, we will fully rework the translation at our expense. If the second
      version is still unacceptable, you have the right to a partial or total reimbursement.</p>

    <p>In the event of a late delivery, LingoKey will reimburse you 10% of money order per working day late delivery.
      Alternatively, you have the right to cancel the late order at any point.</p>

    <h4>General Sales Conditions</h4>

    <p>These conditions apply to all translation orders carried out by LingoKey.</p>

    <h5>Job Ordering Conditions</h5>

    <p>The client must provide a purchase order to LingoKey prior to the start of each project. LingoKey reserve the
      right to start a job without an order.</p>

    <p>Translation order values are based upon source wordcount, unless otherwise specified.</p>

    <p>The customer may cancel the translation order at any time. All work already completed will be billed at 100%, all
      work suspended will be billed at 25%.</p>

    <p>LingoKey invoices are due within 5 days of issuing, unless otherwise specified.</p>

    <p>Any late payment or failure to pay shall be cause for immediate collection of the entire amount due from the
      client, without previous notice or other formalities. LingoKey reserves the right to request interest calculated
      according to the official rate of the Bank of England in effect as of the date that such late payment is made.
      Moreover, the client must reimburse any expenses LingoKey incurs to settle the case.</p>

    <h5>Delivery on Time Guarantee</h5>

    <p>LingoKey can not be held responsible for late deliveries due to malfunctioning internet connections, e-mail
      and/or other mail or carriers, not directly controlled by LingoKey.</p>

    <p>In the event of a late delivery directly and solely due to LingoKey, LingoKey agree to reimburse the client 10%
      of money order per working day late delivery.</p>

    <p>The client has the right to cancel a late order at any point, at no charge.</p>

    <h5>Translation Quality Guarantee</h5>

    <p>LingoKey guarantee the technical accuracy of its translations. The guarantee does not cover stylistic
      preferences, or a requirement to improve upon the source text.</p>

    <p>The client has the right to request changes to the translation within 10 days of delivery of the translation
      project. All correction requests must be submitted in writing, and contain the source text, the disputed
      translation and an explanation of the change request. At completion of the above 10 day review period, all
      translations shall be considered correct.</p>

    <p>LingoKey will fully implement all correction requests at no cost, within 10 working days of receiving the change
      requests.</p>

    <p>If, following the corrections, the client is still dissatisfied with the reworked translation quality, the
      reworked document shall be used to judge the quality of the translation in order to establish the amount of
      reimbursement, at LingoKey's own discretion.</p>


    <h5>Juristiction</h5>

    <p>This agreement shall be governed by and construed in accordance with English law and the parties irrevocably
      submit to the non-exclusive jurisdiction of the Court of England and Wales in respect of any claim, dispute or
      difference arising out of or in connection with this agreement</p>
  </div>
  <div class="modal-footer">
    <button class="btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>