<!-- Modal -->
<div id="softwareEngineering" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" xmlns="http://www.w3.org/1999/html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Software Engineering and Consultancy</h3>
  </div>
  <div class="modal-body">
    <div><h5 class="headline">Introduction</h5></div>
    <p>Our client, a multinational document management corporation, approached LingoKey with a view to outsourcing a
      software development project aimed at improving its technology support for Middle Eastern languages.</p>

    <div><h5 class="headline">The Challenge</h5></div>
    <p>Working with bi-directional languages, which are commonly found in the Middle East, can be a challenge for a
      traditional Computer Aided Translation (CAT) tool.</p>

    <p>Some CAT tools do not render the bi-directional control characters or have inconsistent support for rendering
      bi-directional text correctly. This can lead to linguistically correct translations rendering incorrectly in the
      translated document, website or software package.</p>

    <p>This problem can then be compounded by impacted segments being recycled for future projects due to application of
      translation memory technologies.</p>

    <p>Our customer's in-house software development team had already put in place a partial solution by developing a
      quality assurance plug-in for their chosen CAT tool. However the plug-in was limited and required
      enhancement. </p>

    <div><h5 class="headline">The Approach and Solution</h5></div>
    <p>LingoKey's own in house software developers have years of experience developing software solutions specific to
      the language services sector. Due to our Middle East specialisation we have expertise in the Unicode standard and
      in particular the bi-directional algorithm.</p>

    <p>Our unique software development offering enabled us to not only implement the requirements of the client, but
      also to suggest and implement improvements to the quality assurance plug-in.</p>

    <p>Further to this development LingoKey drew up additional proposals for our client, including both process
      improvement and automation to aid their Translation Memory maintenance processes for bi-directional languages. All
      of our suggestions were accepted and implemented, boosting our client's ability to reduce translation costs and
      speeding up time to market for Middle Eastern languages. </p>
  </div>
  <div class="modal-footer">
    <button class="btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
