<!--=== Slider ===-->
<div id="slider">
  <div id="da-slider" class="da-slider">
    <div class="da-slide">
      <h2><i>YOUR TRANSLATION</i> <br/> <i>PARTNER FOR THE</i> <br/> <i>MIDDLE EAST</i></h2>

      <p><i>Fast, reliable translation services</i> <br/> <i>for all your Middle Eastern language needs</i></p>

    </div>
    <div class="da-slide">
      <h2><i>WORRIED ABOUT</i> <br/> <i>PUBLISHING YOUR MIDDLE</i> <br/> <i>EASTERN CONTENT?</i></h2>

      <p><i>We provide the technology solutions</i> <br/> <i>to ensure your content displays correctly</i> <br/>
        <i> for your customers.</i></p>

    </div>
    <div class="da-slide">
      <h2><i>NEED 3 MILLION WORDS OF</i> <br/> <i>PERSIAN TRANSLATIONS</i> <br/> <i>IN 3 MONTHS?</i></h2>

      <p><i>Our customer did.</i> <br/> <i>See our <a class="hover-effect slider-link" href="#largeVolume" data-toggle="modal">case study</a> to find</i> <br/> <i>out how we managed it.</i></p>

    </div>
    <nav class="da-arrows">
      <span class="da-arrows-prev"></span>
      <span class="da-arrows-next"></span></nav>
  </div>
  <!--/da-slider-->
</div><!--/slider-->