<!--=== Slider ===-->
<div id="slider">
  <div id="da-slider" class="da-slider">
    <div class="da-slide">
      <h2><i>EUROPE'S LEADING</i> <br /> <i>MIDDLE EASTERN</i> <br /> <i>TRANSLATION AGENCY</i></h2>
      <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
      <div class="da-img"><img src="http://placehold.it/400x250" alt="image01" /></div>
    </div>
    <div class="da-slide">
      <h2><i>PERSIAN</i> <br /> <i>CASE</i> <br /> <i>STUDY</i></h2>
      <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p>
      <div class="da-img"><img src="http://placehold.it/400x250" alt="image01" /></div>
    </div>
    <div class="da-slide">
      <h2><i>TESTIMONIAL:</i> <br /> <i>XEROX PM</i> <br /> <i>QUOTE</i></h2>
      <p><i>"LK are great!"</i></p>
      <div class="da-img"><img src="http://placehold.it/400x250" alt="image01" /></div>
    </div>
    <nav class="da-arrows">
      <span class="da-arrows-prev"></span>
      <span class="da-arrows-next"></span>		</nav>
  </div>
  <!--/da-slider-->
</div><!--/slider-->