<!-- Modal -->
<div id="confidentiality" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Client Confidentiality</h3>
  </div>
  <div class="modal-body">
    <p>We know that data confidentiality is important to you.</p>
    <p>That is why we offer you complete confidentiality. We employ secure software systems, our in-house staff has been security cleared, and our in market translation suppliers adhere to strict, signed confidentiality agreements.</p>
    <p>Your data is safe with us.</p>
  </div>
  <div class="modal-footer">
    <button class="btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>