<!-- Modal -->
<div id="qualityGuarantee" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Translation Quality Guarantee</h3>
  </div>
  <div class="modal-body">
    <p>We work with only the best Arabic translators, carefully selected for you. Whether marketing, legal, technical or financial translations, you can be sure that our chosen translator will be an expert in your field.</p>
    <p>You will also be assigned a project manager, acting as your single point of contact and ensuring that your project runs smoothly and is delivered to your required deadline.</p>
  </div>
  <div class="modal-footer">
    <button class="btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>