// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.block-image {
  margin-bottom: 5px;
}

.accordian-heading {
  background: #006dcc;
  color: #ffffff;
}

.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;

  background: #006dcc;
  color: #ffffff;
}

.slider-link{
	color: #F77C1E;
}