  <div class="row-fluid">
    <div class="span3">
      <!-- i class="icon-resize-small"></i -->
      <div class="service clearfix">
        <div class="desc width_100">
          <h4>Quality Guarantee</h4>
          <p>We work with only the best Arabic translators, carefully selected for you.</p>
          <a href="#qualityGuarantee" class="btn btn-primary pull-right" data-toggle="modal">Learn more...</a>
          <%= render('static_pages/landing/modals/quality_guarantee') %>
        </div>
      </div>	
    </div>
    <div class="span3">
      <div class="service clearfix">
        <div class="desc width_100">
          <h4>100% Confidential</h4>
          <p>We know that data confidentiality is important to you.</p>
          <a href="#confidentiality" class="btn btn-primary pull-right" data-toggle="modal">Learn more...</a>
          <%= render('static_pages/landing/modals/confidentiality') %>
        </div>
      </div>	
    </div>
    <div class="span3">
      <div class="service clearfix">
        <div class="desc width_100">
          <h4>Free advice</h4>
          <p>Translating into Arabic isn't easy.</p>
          <a href="#freeAdvice" class="btn btn-primary pull-right" data-toggle="modal">Learn more...</a>
          <%= render('static_pages/landing/modals/free_advice') %>
        </div>
      </div>	
    </div>
    <div class="span3">
      <div class="service clearfix">
        <div class="desc width_100">
          <h4>No obligation quote</h4>
          <p>We are happy to prepare a no obligation quote for you.</p>
          <a href="#noObligationQuote" class="btn btn-primary pull-right" data-toggle="modal">Learn more...</a>
          <%= render('static_pages/landing/modals/no_obligation_quote') %>
        </div>
      </div>	
    </div>
  </div>
  