  
  <div class="row-fluid">
    <div class="span6">
      <!-- i class="icon-resize-small"></i -->
      <div class="service clearfix">
        <div class="desc width_100">
          <h4>Translation Quality Guarantee</h4>
          <p>We work with only the best Arabic translators, carefully selected for you. Whether marketing, legal, technical or financial translations, you can be sure that our chosen translator will be an expert in your field.</p>
          <p>You will also be assigned a project manager, acting as your single point of contact and ensuring that your project runs smoothly and is delivered to your required deadline.</p>
        </div>
      </div>	
    </div>
    <div class="span6">
      <div class="service clearfix">
        <div class="desc width_100">
          <h4>Complete Confidentiality</h4>
          <p>We know that data confidentiality is important to you.</p>
          <p>That is why we offer you complete confidentiality. We employ secure software systems, our in-house staff has been security cleared, and our in market translation suppliers adhere to strict, signed confidentiality agreements.</p>
          <p>Your data is safe with us.</p>
        </div>
      </div>	
    </div>
  </div>