  <div class="row-fluid">
    <div class="span4">
      <div class="service clearfix">
        <i class="icon-resize-small"></i>
        <div class="desc width_75">
          <h4>How can we help you?</h4>
          <p>Are you looking to grow your revenues in the Middle East?</p>
          <a href="#howCanWeHelp" class="btn btn-primary pull-right" data-toggle="modal">Learn more...</a>
          <%= render('static_pages/home/modals/how_can_we_help') %>
        </div>
      </div>	
    </div>
    <div class="span4">
      <div class="service clearfix">
        <i class="icon-cogs"></i>
        <div class="desc width_75">
          <h4>The LingoKey Difference</h4>
          <p>Translating into Arabic isn't easy. The right to left nature of Arabic can be problem for many publishing platforms, and your final document may need to be redesigned to support the requirements of your Arabic audience.</p>
          <p>We are specialists in these fields. We will make sure that our delivered content will work for your Arabic audience.</p>
          <a href="#lingokeyDifference" class="btn btn-primary pull-right" data-toggle="modal">Learn more...</a>
          <%= render('static_pages/home/modals/lingokey_difference') %>
        </div>
      </div>	
    </div>
    <div class="span4">
      <div class="service clearfix">
        <i class="icon-ok"></i>
        <div class="desc width_75">
          <h4>Peace of Mind</h4>
          <p>Money back guarantee on our translation quality and delivery.</p>
          <a href="#peaceOfMind" class="btn btn-primary pull-right" data-toggle="modal">Learn more...</a>
          <%= render('static_pages/home/modals/peace_of_mind') %>
        </div>
      </div>
    </div>    
  </div>