<!-- Service Blocks -->
<div class="headline"><h3>Why choose LingoKey?</h3></div>
<div class="row-fluid">
  <div class="span6">
    <div class="service clearfix">
      <i class="icon-plane"></i>

      <div class="desc">
        <a href="#growBusiness" data-toggle="modal"><h4>How can we help you?</h4></a>

        <p>Are you looking to grow your revenues in the Middle East? Specialising in Middle Eastern content, we deliver
          the translations that connect you with your Middle Eastern markets.</p>

        <p>LingoKey offer all the services you need to overcome the language barrier and maximise your potential:
        <ul>
          <li>High quality translation services</li>
          <li>Full product testing</li>
          <li>Typesetting services</li>
          <li>Software engineering capability</li>
          <li>Interpreting services</li>
        </ul>
        </p>
        <p>Trust Europe's leading Middle Eastern language translation service provider, and speak to us to find our more
          about a company committed to solving your language needs.</p>
        <a href="#growBusiness" class="btn btn-primary pull-right" data-toggle="modal">Learn more...</a>
        <%= render('static_pages/home/modals/grow_middle_east') %>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="service clearfix">
      <i class="icon-lightbulb"></i>

      <div class="desc">
        <h4>The LingoKey Difference</h4>

        <p>Five reasons why you should consider LingoKey for your next translation project:</p>
        <ol>
          <li>UK based for local service</li>
          <li>Right first time approach</li>
          <li>Proven reliability and scalablity</li>
          <li>Benchmarked rates</li>
          <li>Technology solutions</li>
        </ol>
        <p>Our customers appreciate our deep understanding of their requirements, our local support when they need it,
          our Monday to Friday availability - and of course our high quality Middle Eastern translations.</p>

        <p>When you buy LingoKey translations, you don't just get great quality, you get content that will publish
          correctly on your systems - first time.</p>
        <a href="#fiveReasons" class="btn btn-primary pull-right" data-toggle="modal">Learn more...</a>
        <%= render('static_pages/home/modals/five_reasons') %>
      </div>
    </div>
  </div>
</div>
<!--/row-fluid-->
<!-- //End Service Blocks -->
<!-- Service blocks -->
<div class="headline"><h3>Why choose LingoKey?</h3></div>
<div class="row-fluid servive-block">
  <div class="span4">
    <h4>How can we help you?</h4>

    <div class="block-image"><img src="http://placehold.it/240x100" alt="image01"/></div>

    <p>Are you looking to grow your revenues in the Middle East?</p>
    <a href="#fiveReasons" class="btn btn-primary pull-right" data-toggle="modal">Learn more...</a>
  </div>
  <div class="span4">
    <h4>The LingoKey Difference</h4>

    <div class="block-image"><img src="http://placehold.it/240x100" alt="image01"/></div>

    <p>Five reasons why you should consider LingoKey for your next translation project.</p>
    <a href="#fiveReasons" class="btn btn-primary pull-right" data-toggle="modal">Learn more...</a>
  </div>
  <div class="span4">
    <h4>Peace of Mind Guarantee</h4>

    <div class="block-image"><img src="http://placehold.it/240x100" alt="image01"/></div>

    <p>Money back guarantee on our quality and delivery.</p>
    <a href="#fiveReasons" class="btn btn-primary pull-right" data-toggle="modal">Learn more...</a>
  </div>
</div>

<!--/row-fluid-->
<!-- //End Service Blokcs -->