<!-- Service blocks -->
<div class="headline"><h3>Why choose LingoKey?</h3></div>
<div class="row-fluid servive-block">
  <div class="span4">
    <h4>How can we help you?</h4>

    <div class="block-image"><img src="http://placehold.it/240x100" alt="image01"/></div>

    <p>Are you looking to grow your revenues in the Middle East?</p>
    <a href="#howCanWeHelp" class="btn btn-primary pull-right" data-toggle="modal">Learn more...</a>
    <%= render('static_pages/home/modals/how_can_we_help') %>
  </div>
  <div class="span4">
    <h4>The LingoKey Difference</h4>

    <div class="block-image"><img src="http://placehold.it/240x100" alt="image01"/></div>

    <p>Five reasons why you should consider LingoKey for your next translation project.</p>
    <a href="#fiveReasons" class="btn btn-primary pull-right" data-toggle="modal">Learn more...</a>
  </div>
  <div class="span4">
    <h4>Peace of Mind Guarantee</h4>

    <div class="block-image"><img src="http://placehold.it/240x100" alt="image01"/></div>

    <p>Money back guarantee on our quality and delivery.</p>
    <a href="#fiveReasons" class="btn btn-primary pull-right" data-toggle="modal">Learn more...</a>
  </div>
</div>

<!--/row-fluid-->
<!-- //End Service Blokcs -->