<!--=== Footer ===-->
<div class="footer">
  <div class="container">

    <div class="row-fluid">
      <div class="span6">
        <!-- About -->
        <div class="headline"><h3>About</h3></div>
        <p class="margin-bottom-25">LingoKey are a translation agency based in the UK, specialising in Middle-Eastern
          and EMEA languages.</p>
      </div>
      <!--/span6-->

      <div class="span6">
        <!-- Monthly Newsletter -->
        <div class="headline"><h3>Contact Us</h3></div>
        <address>
          25, LingoKey street<br/>
          LingoPlace <br/>
          Phone: 0800 123 3456 <br/>
          Fax: 0800 123 3456 <br/>
          Email: <a href="mailto:info@lingokey.com" class="">info@lingokey.com</a>
        </address>

        <!-- Stay Connected -->
        <div class="headline"><h3>Stay Connected</h3></div>
        <ul class="social-icons">
          <li><a href="index.html#" data-original-title="Facebook" class="facebook"></a></li>
          <li><a href="index.html#" data-original-title="Twitter" class="twitter"></a></li>
        </ul>
      </div>
      <!--/span6-->
    </div>
    <!--/row-fluid-->

  </div>
  <!--/container-->
</div><!--/footer-->