<!--=== Footer ===-->
<div class="footer">
  <div class="container">

    <div class="row-fluid">
      <div class="span6">
        <!-- About -->
        <div class="headline"><h3>About</h3></div>
        <p class="margin-bottom-25">LingoKey are a translation agency based in the UK, specialising in Middle-Eastern
          and EMEA languages.</p>
      </div>
      <!--/span6-->

      <div class="span6">
        <!-- Monthly Newsletter -->
        <div class="headline"><h3>Contact Us</h3></div>
        <address>
          LingoKey Ltd<br/>
          11 Rays Avenue<br/>
          Windsor<br/>
          SL4 5HG<br/><br />
		  Telephone: +44 (0)1753 290001<br />
          Email: <a href="mailto:info@lingokey.com" class="">info@lingo-key.com</a>
        </address>

        <!-- Stay Connected -->
        <div class="headline"><h3>Stay Connected</h3></div>
        <ul class="social-icons">
          	<li><a href="https://www.facebook.com/LingoKey" data-original-title="Facebook" class="facebook"></a></li>
	        <li><a href="https://twitter.com/lingokey" data-original-title="Twitter" class="twitter"></a></li>
        </ul>
      </div>
      <!--/span6-->
    </div>
    <!--/row-fluid-->

  </div>
  <!--/container-->
</div><!--/footer-->