<!--=== Footer ===-->
<div class="footer">
  <div class="container">

    <div class="row-fluid">
      <div class="span4">
        <!-- About -->
        <div class="headline"><h3>About</h3></div>
        <p class="margin-bottom-25">LingoKey are a translation agency based in the UK, specialising in Middle-Eastern and EMEA languages.</p>

        <!-- Monthly Newsletter -->
        <div class="headline"><h3>Monthly Newsletter</h3></div>
        <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
        <form class="form-inline">
          <div class="input-append">
            <input type="email" placeholder="Email Address" class="span8 border-radius-none" name="email">
            <button class="btn-u">Sign Up</button>
          </div>
        </form>
      </div><!--/span4-->

      <div class="span4">
        <div class="posts">
          <div class="headline"><h3>Recent Blog Entries</h3></div>
          <dl class="dl-horizontal">
            <dt><a href="index.html#"><%= image_tag('blog/9.jpg') %></a></dt>
            <dd>
              <p><a href="index.html#">Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</a></p>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt><a href="index.html#"><%= image_tag('blog/10.jpg') %></a></dt>
            <dd>
              <p><a href="index.html#">Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</a></p>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt><a href="index.html#"><%= image_tag('blog/11.jpg') %></a></dt>
            <dd>
              <p><a href="index.html#">Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</a></p>
            </dd>
          </dl>
        </div>
      </div><!--/span4-->

      <div class="span4">
        <!-- Monthly Newsletter -->
        <div class="headline"><h3>Contact Us</h3></div>
        <address>
          25, LingoKey street<br />
          LingoPlace <br />
          Phone: 0800 123 3456 <br />
          Fax: 0800 123 3456 <br />
          Email: <a href="mailto:info@lingokey.com" class="">info@lingokey.com</a>
        </address>

        <!-- Stay Connected -->
        <div class="headline"><h3>Stay Connected</h3></div>
        <ul class="social-icons">
          <li><a href="index.html#" data-original-title="Feed" class="rss"></a></li>
          <li><a href="index.html#" data-original-title="Facebook" class="facebook"></a></li>
          <li><a href="index.html#" data-original-title="Twitter" class="twitter"></a></li>
          <li><a href="index.html#" data-original-title="Goole Plus" class="googleplus"></a></li>
          <li><a href="index.html#" data-original-title="Pinterest" class="pintrest"></a></li>
          <li><a href="index.html#" data-original-title="Linkedin" class="linkedin"></a></li>
          <li><a href="index.html#" data-original-title="Vimeo" class="vimeo"></a></li>
        </ul>
      </div><!--/span4-->
    </div><!--/row-fluid-->

  </div><!--/container-->
</div><!--/footer-->