<!--=== copyright ===-->
<div class="copyright">
  <div class="container">

    <div class="row-fluid">
      <div class="span8">
        <p>2013 &copy; LingoKey. ALL Rights Reserved. <a href="/attribution">Attribution</a></p>
      </div>
      <div class="span4">

      </div>
    </div><!--/row-fluid-->

  </div><!--/container-->
</div><!--/copyright-->
