<!--=== Top ===-->
<div id="top">
  <div class="container">
    <ul id="loginbar" class="pull-right">
      <li>Telephone:+44 (0) 1753 290001</li>
      <li class="devider">&nbsp;</li>
      <li><a href="mailto:info@lingokey.com">info@lingokey.com</a></li>
    </ul>
  </div>
</div><!--/top-->

<!--=== Header ===-->
<div id="header">
  <div class="container">
    <!-- Logo -->
    <div id="logo">
      <%= link_to(image_tag('logo.png'), root_path) %>
    </div>
    <!-- /logo -->

    <%= render('layouts/menu') %>

  </div>
  <!-- /container -->
</div><!-- /header -->